doctype html
html(lang="es")
    head
        title Turista
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        block leaflet
        link(rel="stylesheet" type="text/css" href="/lib/style.css")
    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Turista
                #main-navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/app/new-place") Crear
                        li 
                            a(href="/app/routes") Rutas
                    form.navbar-form.navbar-left(action="/app/search" method="get")
                        .form-group
                            input.form-control(type="text" placeholder="Buscar..." size="30" name="pattern")
                        button.btn.btn-default(type="submit") Buscar
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/app/user") #{user.name}
                        li  
                            a(href="/app/logout") <b>Cerrar Sesión</b>

        mixin putPlaces(places)
            - var i = 0
            while i < places.length
                .row
                    while i < places.length
                        - var place = places[i]
                        .col-sm-3
                            a(href="/app/place/#{place._id}")
                                .thumbnail
                                    if place.images.length > 0
                                        - var j = Math.round(Math.random() * (place.images.length-1))
                                        img.img-responsive(src="/imagenes/#{place.images[j].getFileName()}")
                                    else
                                        img.img-responsive(src="/imagenes/image.png")
                                    .caption
                                        p #{place.name}
                        - i ++
                        if i % 4 == 0
                            - break

        mixin putComments(comments)
            for comment in comments
                .panel.panel-default
                    .panel-heading <b>#{comment.author.name}</b> comentó en <b>#{comment.getDate()}</b>
                    .panel-body #{comment.comment}

        block content