extends ./base.pug
block content
    .container
        h4 Crear referancia a un lugar
        .right-align
            p Obligatorio <span class="red"> *</span> 
        form(action="/app/new-place/save" method="post" enctype="multipart/form-data")
            .form-group
                label(for="latitude") Latitud <span class="red">*</span>
                if lat
                    input.form-control(type="number" required=true placeholder="ej 123,456" id="latitude" name="latitude" step="any" value="#{lat}")
                else
                    input.form-control(type="number" required=true placeholder="ej 123,456" id="latitude" name="latitude" step="any")
                label(for="longitude") Longitud <span class="red">*</span>
                if lng
                    input.form-control(type="number" required=true placeholder="ej 123,456" id="longitude" name="longitude" step="any" value="#{lng}")
                else
                    input.form-control(type="number" required=true placeholder="ej 123,456" id="longitude" name="longitude" step="any")
            hr
            .form-group
                label(for="name") Nombre <span class="red">*</span>
                input.form-control(type="text" required=true placeholder="Nombre del lugar..." id="name" name="name")
                label(for="description")  Descripción
                textarea.form-control(placeholder="Descripción del lugar..." id="description" name="description")
                label(for="type") Tipo
                select.form-control(name="type" id="type")
                    option(value="Ninguno") Ninguno
                    option(value="Sitio Turistico") Sitio Turistico
                    option(value="Restaurante") Restaurante
                    option(value="Mercado") Mercado
                    option(value="Hospital") Hospital
                    option(value="Hotel") Hotel
                    option(value="Parque") Parque
                    option(value="Plaza") Plaza
                    option(value="Peligroso") Peligroso
            hr
            .form-group
                label(for="city") Ciudad
                input.form-control(type="text" placeholder="ej Gotica" id="city" name="city")
                label(for="zone") Zona
                input.form-control(type="text" placeholder="ej Metropolis" id="zone" name="zone")
                label(for="street") Calle/Avenida
                input.form-control(type="text" placeholder="ej avenida principal" id="street" name="street")
            hr
            .form-group 
                label(for="file") Subir Imágen
                input(type="file" id="file" name="file" class="control" accept="image/*")
            hr
            .text-center
                input.btn.btn-default(type="submit" value="Enviar")