extends ./base.jade
block content
    .container
        .row
            .col-sm-6
                p <b>Nombre: </b> #{place.name}
            .col-sm-6
                p <b>Latitud: </b> #{place.latlng.latitude} <b> Longitud: </b> #{place.latlng.longitude}
        #mimapa
        //.text-center
            if place.images.length > 0
                - var image = place.images[0]._id + "." + place.images[0].extension
                img.medium(src="/imagenes/#{image}")
            else
                img.medium(src="/imagenes/image.png")
        .padding-top.row
            .col-sm-8
                p Creado por <b> #{place.author.name} </b> en fecha <b> #{place.date} </b>
            .col-sm-4
                a(href="/app/place/#{place._id}/images") Imágenes >>
        .right-align
            p <b>Votos</b> #{place.votes.length} 
                if !userVote 
                    a(href="/app/place/#{place._id}/vote").btn.btn-default Votar
        hr

        if place.description
            h4 Descripción
            p.well.well-bg(readonly=true) #{place.description}

        h4 Localización
        - var loc = place.location
        if loc.city
            p.well.well-sm <b>Ciudad: </b> #{place.location.city}
        if loc.zone
            p.well.well-sm <b>Zona: </b> #{place.location.zone}
        if loc.street
            p.well.well-sm <b>Calle/Avenida: </b> #{place.location.street}

        p
            .col-sm-6.well.well-sm
                <b>Latitud: </b> #{place.latlng.latitude}
            .col-sm-6.well.well-sm
                <b>Longitud: </b> #{place.latlng.longitude}
        hr.well-bg

        h4 Comentarios
        if place.comments.length > 0 || true
            +putComments(place.comments)
        else
            p Caja de comentarios vacia

        hr
        form(action="/app/place/#{place._id}/comment" method="post")
            .panel.panel-default
                .panel-heading <b>Deja un comentario</b>
                .panel-body.no-padding
                    textarea.form-control.no-border(placeholder="Comenta..." name="comment")
            .right-align
                button.btn.btn-default Comentar
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js")
    script(src="/socket.io/socket.io.js")
    script(src="/lib/main-map.js")
