extends ./base.jade
block leaflet
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css")
block content
    .container
        .row
            .col-sm-6
                p <b>Nombre: </b> #{place.name}
            .col-sm-6
                p <b>Latitud: </b> <span id="lat">#{place.latlng.latitude}</span> <b> Longitud: </b> <span id="lng">#{place.latlng.longitude}</span>
        #mimapa

        .padding-top
            p Referencia creada por <b> #{place.creator.name} </b> en fecha <b> #{place.getDate()} </b>
            
        .row
            .col-sm-8
                h4 Imagenes
            .col-sm-4
                a(href="/app/place/#{place._id}/images") Ver todas las imagenes >>

        - var i = 0
        - var images = place.images
        .row
            while i < images.length && i < 4
                - var image = images[i]

                .col-sm-3.col-xs-10
                    .img-grid-no-effect
                        img.img-responsive(id="img-#{i}-#{image.owner.name}" src="/imagenes/#{image.getFileName()}")

                - i ++

        .right-align.padding-top
            p <b>Votos</b> #{place.votes.length} 
                if !userVote 
                    a(href="/app/place/#{place._id}/vote").btn.btn-default Votar
        hr

        if place.description
            h4 Descripción
            p.well.well-sm #{place.description}

        p.well.well-sm <b>Tipo: </b>#{place.type}

        h4 Localización
        - var loc = place.location
        if loc.city
            p.well.well-sm <b>Ciudad: </b> #{place.location.city}
        if loc.zone
            p.well.well-sm <b>Zona: </b> #{place.location.zone}
        if loc.street
            p.well.well-sm <b>Calle/Avenida: </b> #{place.location.street}

        p
            .col-sm-6.well.well-sm
                <b>Latitud: </b> #{place.latlng.latitude}
            .col-sm-6.well.well-sm
                <b>Longitud: </b> #{place.latlng.longitude}
        hr.well-bg

        h4 Comentarios
        if place.comments.length > 0 || true
            +putComments(place.comments)
        else
            p Caja de comentarios vacia

        hr
        form(action="/app/place/#{place._id}/comment" method="post")
            .panel.panel-default
                .panel-heading <b>Deja un comentario</b>
                .panel-body.no-padding
                    textarea.form-control.no-border(placeholder="Comenta..." name="comment")
            .right-align
                button.btn.btn-default Comentar
    script(src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js")
    script(src="/socket.io/socket.io.js")
    script(src="/lib/main-map.js")